.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  input {
    font-family: Inter;
    height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
  }
  
  input:focus {
    outline: none;
  }

  .right-side {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .theme-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
  }
